.header {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    top: 0;
    position: sticky;
}
.icon{
    height: 10vh;
    aspect-ratio: 1/1;
}