.delete_btn{
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;
}

.delete_btn{
    margin-left: 50px;
     background-color: #4a90e2;
}

.delete_btn:hover {
  background-color: #cc0000; /* ホバー時に少し暗くする */
}   

