.content{
    background-color: azure;
    border: 1px solid gray;
    margin-top: 16px;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    padding: 0px;
    margin: 0px;
}